
<section class="design vh-100">
    <div class="container align-self-center">
        <div class="row design-mockup">
            <div class="col-4">
                <img src="{{ asset('build/images/gestion-salaire.png') }}" alt="">
                <h1>GESTION</h1>
                <p>de mes revenues et dépenses</p>
            </div>
            <div class="col-4">
                <img src="{{ asset('build/images/tab-bord.png') }}" alt="">
                <h1 class="colored">DESIGN</h1>
                <p>Simple épuré, et personnalisable</p>
            </div>
            <div class="col-4">
                <img src="{{ asset('build/images/list-salaire.png') }}" alt="">
                <h1>ECONOMIE</h1>
                <p>grâce à Pluton</p>
            </div>
        </div>
    </div>
</section>