
<section class="design vh-100">
    <div class="container align-self-center">
        <div class="row design-mockup">
            <div class="col-4">
                <img src="{{ asset('build/images/mockup-phone.png') }}" alt="">
                <h1 class="colored">UN MOT</h1>
                <p>texte de presentaiton du design</p>
            </div>
            <div class="col-4">
                <img src="{{ asset('build/images/mockup-phone.png') }}" alt="">
                <h1>UN MOT</h1>
                <p>texte de presentaiton du design</p>
            </div>
            <div class="col-4">
                <img src="{{ asset('build/images/mockup-phone.png') }}" alt="">
                <h1>UN MOT</h1>
                <p>texte de presentaiton du design</p>
            </div>
        </div>
    </div>
</section>