<section class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <a class="navbar-brand title-header"><img src="{{ asset('build/images/logo-pluton.png') }}" alt="">PLUTON</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-header">
                <li class="nav-item active">
                    <a class="nav-link" href="#">LE PROJET <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">L'ÉQUIPE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
        <a class="lang-header">FR</a>
    </nav>
</section>
<section class="homepage vh-100">
    <div class="container-fluid align-self-center">
        <div class="row">
            <div class="home-img-right col-3">
            </div>
            <div class="col-1"></div>
            <div class="home-text col-5">
                <h6 class="home-text-title">Avoir de l’argent c’est bien, savoir le gérer c’est mieux !</h6>
                <h1 class="home-title">ICI UN <span class="text-color">SLOGAN</span> <br> QUI CLAQUE</h1>
                <button class="discover btn btn-dark">DÉCOUVRIR</button>
                <button type="button" class="download btn" data-toggle="modal" data-target="#btn-dl-link">
                    TÉLÉCHARGER
                    {# <img class="icon-dl ml-3" src="{{ asset('build/images/icon_appstore.png') }}" alt=""> #}
                    <img class="icon-dl" src="{{ asset('build/images/icon_googleplay.png') }}" alt="">
                </button>
            </div>
            <div class="home-img-left col-3">
            </div>
        </div>
    </div>
</section>