<section class="more vh-100" style="background-image:url('{{ asset('build/images/more-bg.jpg') }}');">
    <div class="container">
        <div class="row align-self-center">
            <div class="more-text col-6">
                <h1 class="more-title">ICI UNE <span class="text-color">PHRASE</span> <br> QUI CLAQUE</h1>
                <h6 class="more-text-title">Pluton, la solution efficace pour gérer toutes vos dépenses</h6>
            </div>
        </div>
    </div>
</section>